<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Level 2</h1>
<form action="#" th:action="@{/level2}" th:object="${level2}" method="post">
    <p>Login as the admin user</p>
    <p>Username: <input type="text" th:field="*{username}" size="200"/></p>
    <p>Password: <input type="text" th:field="*{password}" size="200"/></p>
    <p><input type="submit" value="Submit" />
    <p th:text="*{query}"></p>
    <p th:text="*{result}"></p>
</form>
</body>
</html>