<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Level 8</h1>
<p>Leak the admin password in table "login". You can only send messages and view this form.</p>
<form action="#" th:action="@{/level8}" th:object="${level8}" method="post">
    <p>Message title: <input type="text" th:field="*{title}" size="200"/></p>
    <p>Message content: <input type="text" th:field="*{message}" size="200"/></p>
    <p><input type="submit" value="Submit" />

    <p th:text="*{query}"></p>
    <p th:text="*{result}"></p>
</form>
</body>
</html>