<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Level 9</h1>
<form action="#" th:action="@{/level9}" th:object="${level9}" method="post">
    <p>New item name: <input type="text" th:field="*{item}" size="200"/></p>
    <p>New item description: <input type="text" th:field="*{description}" size="200"/></p>
    <p><input type="submit" value="Submit" />

    <table>
        <thead>
        <tr>
            <th> Item </th>
            <th> Description </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : *{articles}">
            <td><span th:text="${article.name}"> Name </span></td>
            <td><span th:text="${article.description}"> Description </span></td>
        </tr>
        </tbody>
    </table>

    <p th:text="*{query}"></p>
    <p th:text="*{result}"></p>
</form>
</body>
</html>